/*estilos por etiqueta

*/

body {
    font-family: sans-serif;
    margin: 20px; /*separacion con otros contenedores de la pagina*/
    padding: 5px; /*separacion interna dentro del contenedor*/
}
/*greed styling*/

/*.container {
    border: 2px dashed black;
    padding: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 10px;
}*/

.container{
    border: 2px dashed black;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;  /*los items se adaptan al contenedor padre*/
    flex-wrap: wrap;
    justify-content: space-evenly; /*centra justifica en el eje central*/
}

.container .items{
    display: inline-block;
    width: 100px;
    height: 100px;
}


.items{
    background: lightcoral;
    border: 1px solid blue;
    padding: 5px;
    margin: 10px;

} 