.Header{
    border: 2px ridge black;
    padding: 20px;
    text-align: center;
    background: orange;
}


.Navbar{
    border: 2px ridge black;
    padding: 20px;
    width: 30%;
    background: purple;
    text-align: center;
}

.Body{
    border: 2px ridge black;
    padding: 30px;
    width: 70%;
    flex-wrap: wrap;
    background: green;
    text-align: center;
}


.Footer{
    border: 2px ridge black;
    padding: 20px;
    background: blue;
    text-align: center;
}


    